/*NavBar*/
.Container-NavBar{
  background-image: url('./Imagenes/Img.NavBar/Viñedos.jpg');
  background-repeat: no-repeat;
  background-size: cover;

    height: 600px;
    width: 100vw;
  }

  .link-NavBar{
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de forma uniforme */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
  }
.ListContainer{
    list-style: none;
}
  .List-NavLink{
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .container-imgNavbar img{
    width: 100vw;

  }