/*NavBar*/
.Container-NavBar{
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(175, 0, 0, 0.788);
    height: 120px;
    width: 100vw;
  }
.logo-img{
  width: 200px;
}
  .link-NavBar{
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de forma uniforme */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
  }
.ListContainer{
    list-style: none;
}
  .List-NavLink{
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .container-imgNavbar img{
    width: 100vw;

  }